[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
langchainhub = "*"
black = "*"
langchain-ollama = "*"
langchain-community = "*"
python-dotenv = "*"
langchain-openai = "*"
langchain-core = "*"
langchain = "*"
requests = "*"

[dev-packages]

[requires]
python_version = "3.13"
